@media (min-width: 360px) and (max-width: 720px) {
	header.header_page {
		height: 80vh;
		position: relative;
	}
	.banner_part {
		padding-top: 0px;
		margin: 0 auto;
		top: 15%;
	}
	.top_nav {
	    background: WHITE;
	}
	.top_nav ul li a {
	    color: #000;
	}
	.banner_h1 {
		line-height: 1;
	}
	.banner_button {
		padding: 5px 50px;
	}
	.banner_p {
		max-width: 100%;
	}
	.section_service_description {
		min-width: 100%;
	}
	section.video_part {
		height: 320px;

	}
	.video_button {
    	left: 38%;
    	margin-top: 28%;
    }
    .video_para {
    	left: 22%;
    	margin-top: 55%;
    }
    #video_modal {
    	display: block;
    }	
    .iframe_video {
		width: 300px; 
		height: 200px;
	}	
	.testmonial_part {
	    padding-top: 60px;
	    padding-bottom: 100px;
	}
	.testmonial_image {
    	text-align: center;
	}
	.testmonial_image img {
	    height: 330px;
	    max-width: 100%;
	    padding-bottom: 30px;
	}
	.testmonial_content img {
	    padding-top: 30px;
	}
	.footer_social {
	    text-align: center;
	    padding-bottom: 40px;
	}
	.copyright {
		margin-top: 60px;
	}
}

@media (min-width: 375px) and (max-width: 667px) {
	header.header_page {
    	height: 90vh;
    }	
}	

@media (min-width: 375px) and (max-width: 720px) {
	header.header_page {
    	height: 80vh;
    }	
}	

@media (min-width: 414px) and (max-width: 720px) {
	header.header_page {
    	height: 80vh;
    }	
}

@media (min-width: 618px) and (max-width: 720px) {
	header.header_page {
	    height: 130vh;
	}	
}

@media (min-width: 768px) and (max-width: 1024px) {
	header.header_page {
		height: 55vh;
		position: relative;
	}
	.navbar-toggler.toggler-example {
    	display: none;
	}
	.banner_part {
		padding-top: 15px;
		margin: 0 auto;
	}
	.banner_p {
		max-width: 80%;
	}
	.section_service_description {
		min-width: 90%;
	}
	.testmonial_image img {
	    height: 345px;
	    max-width: 100%;
	    padding-bottom: 0px;
	}
	.testmonial_content {
    	padding-top: 10px;
	}
	.testmonial_content img {
 	   	padding-top: 10px;
	}
	.testmonial_content h5 {
	    margin-top: 25px;
	}
	.testmonial_content h6 {
	    padding-top: 5px;
	    margin-bottom: 0px;
	}
	section.video_part {
		height: 350px;

	}
	.video_button {
    	left: 44%;
    	margin-top: 15%;
    }
    .video_para {
    	left: 35%;
    	margin-top: 28%;	
    }	
    .footer_social {
	    text-align: center;
	}
	.copyright {
		margin-top: 60px;
	}	
}	

@media (min-width: 800px) and (max-width: 1024px) {
	header.header_page {
		height: 45vh;
		position: relative;
	}
	.navbar-toggler.toggler-example {
    	display: none;
	}
	.banner_part {
		top: 35;
		margin: 0 auto;
	}
}

@media (min-width: 1024px) and (max-width: 1280px) {
	header.header_page {
		height: 50vh;
		position: relative;
	}
	.navbar-toggler.toggler-example {
    	display: none;
	}
	.banner_part {
		padding-top: 30px;
		margin: 0 auto;
	}
	.section_service_description {
		min-width: 90%;
	}
	.video_button {
    	left: 50%;
    	margin-top: 16%;
    }
    .video_para {
    	left: 46%;
    	margin-top: 27%;	
    }	
}	

@media (min-width: 1280px) and (max-width: 1360px) {
	.navbar-toggler.toggler-example {
    	display: none;
	}
	.video_button {
    	left: 50%;
    	margin-top: 15%;
    }
    .video_para {
    	left: 47%;
    	margin-top: 24%;	
    }	
}

@media (min-width: 1360px) {
	.navbar-toggler.toggler-example {
    	display: none;
	}
}